.App {
  text-align: center;
}

.bg{
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #f2f2f2;
  padding-left: 10%;
  padding-top: 2%;
  padding-bottom: 5%;
  padding-right: 10%;
  border-radius: 2%;
}

.table-div{
  margin: 3%;
}

Form.Control.error{
  border-color: red;
}

.feedback{
  color:rgb(235,54,54);
  margin-top: -15px;
  font-size: 14px;
  margin-bottom: 20px;
}
 .bgcol{
   color: white;
 }
.form{
  margin-top: 10%;
  margin-right: 10%;

}
.para{
line-height: 5rem;
font-size:50px;
padding: 5%;
}
span{
  color: red;
}
.form1{
  line-height:20rm;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 15%;
}
 .button{
   padding-left: 15px;
   padding-right: 15px;
   padding-bottom: 2px;
    padding-top: 2px;
    border-radius: 5px;
    margin-right: 20px;
    
   background-color: turquoise;
   border: 1px solid turquoise;
 }
 input[type=file] {
  border-radius: 5px;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
} 